body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgba(19, 69, 150, 0.7);
  color: white;
}
.search-container {
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
.results {
  margin-top: 20px;
  color: black;
}
.result {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search {
  width: 50vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.search input {
  width: 90%;
  border: none;
  outline: none;
  border-radius: 20px;
}

.search i:hover {
  cursor: pointer;
}

.language-selector {
  top: 30px;
  right: 30px;
  position: fixed;
  z-index: 5;
  font-size: 40px;
  color: white;
}
